<style>
#live2dcanvas{
  position: fixed;
  left: 0px;
  bottom: -40px;
  z-index: 999;
  pointer-events: none;
}
</style>
<canvas id="live2dcanvas" width="150" height="300"></canvas>

<script src="/live2d/device.min.js"></script>
<script>
const loadScript = function loadScript(c,b){var a=document.createElement("script");a.type="text/javascript";"undefined"!=typeof b&&(a.readyState?a.onreadystatechange=function(){if("loaded"==a.readyState||"complete"==a.readyState)a.onreadystatechange=null,b()}:a.onload=function(){b()});a.src=c;document.body.appendChild(a)};
(function(){
  if(typeof(device) != 'undefined' && device.mobile()){
    document.getElementById("live2dcanvas").style.width = '75px';
    document.getElementById("live2dcanvas").style.height = '150px';
    document.getElementById("live2dcanvas").style.bottom = '-10px';
  }
  loadScript("/live2d/script.js", function(){loadlive2d("live2dcanvas", "/live2d/assets/koharu.model.json", 0.5);});
})();
</script>