// Custom styles, created by xiaweiss
// 修改背景图片
body
  background: url(/images/background.webp)
  background-size: cover
  background-attachment: fixed
  background-color: $ruri

// ios 移动端 对webp兼容性不好，改用 jpg 图
.ios .container
  background-image: url(/images/background.jpg)

.headband,
.site-brand-container,
blockquote
  background $tsuyukusa

.site-subtitle,
.footer,
.footer a
  border-color white
  color white

.back-to-top:hover
  color white


// // 修改 markdown 引用标签的左边框颜色
// blockquote
//   border-left-color: $blue

// // 给代码块增加滚动惯性
// figure
//   -webkit-overflow-scrolling: touch

// // 修改加粗样式，改为不加粗变蓝色
// strong
//   color: $blue
//   font-weight: normal;

// // 修改返回顶部按钮位置
// .back-to-top
//   right: 105px
//   z-index: 998

//   &.back-to-top-on
//     bottom: 72px

// // 修改背景图片
// .container
//   background-image: url(/images/background.webp)
//   background-size: cover
//   background-attachment: fixed
//   background-color: $ruri

// // ios 移动端 对webp兼容性不好，改用 jpg 图
// .ios .container
//   background-image: url(/images/background.jpg)

// // 修改底部文字颜色
// .footer
//   color: $footer-color

//   a
//     color: $footer-color
//     border-bottom-color: $footer-color

// // 修正用户头像下方，联系方式图标文字偏左的文图
// .links-of-author
//   text-align: center

// // 修正不同屏幕宽度预览时，底部上边距不统一的问题
// .main
//   padding-bottom: 124px!important

// // 修改文章页面里，所有标题的颜色
// .post-body
//   h1
//   h2
//   h3
//   h4
//   h5
//     color: $blue

// // 修改首页的文章标题、发布时间一行的颜色
// // 首页、文章页，缩小正文到发布时间一行的距离
// // 加宽发布时间一行，以免移动端出现折行
// // 阅读全文文字颜色
// .posts-expand
//   & .post-meta
//       margin-left: -15px
//       margin-right: -15px
//       margin-bottom: 20px
//       color: $grey-dim

//   & .post-title
//       color: $blue

//   & .post-title-link
//       color: $blue
//       &::before
//         background-color: $blue

//   & .post-button .btn
//       color: $blue

//   // 修改文章内超链接指上时的颜色
//   a:hover
//     color: $blue
//     border-bottom-color: $blue



// // 修改右上角网站标题的背景颜色
// .site-meta
//   background: $blue

// // 站点概览
// .sidebar-nav-overview
//   padding: 0 5px
