// Custom styles, created by xiaweiss
// 修改背景图片
body {
  background: no-repeat $sora url(/images/background.webp) center bottom / cover;
  background-attachment: fixed;
}


// ios 移动端 对webp兼容性不好，改用 jpg 图
.ios .container {
  background-image: url(/images/background.jpg);
}

// 上一篇、下一篇图标居中
.post-nav-item .fa {
  transform: translateY(-1px);
}

// 顶部条、侧边栏顶部背景色
.headband,
.site-brand-container {
  background: $tsuyukusa;
}

// markdown 引用标签的左边框颜色
blockquote {
  border-left-color: $tsuyukusa;
}

// 返回顶部 hover 颜色
.back-to-top:hover {
  color: white;
}

// 网站副标题、底部文字颜色
.site-subtitle,
.footer,
.footer a {
  border-color: white;
  color: white;
}

// 修改首页的文章标题
.posts-expand {
  .post-title {
    color: $tsuyukusa;
  }

  .post-title-link {
    color: $tsuyukusa;

    &::before {
      background-color: $tsuyukusa;
    }
  }
}


// 阅读全文按钮颜色
.post-button .btn {
  border-color: $tsuyukusa;
  color: $tsuyukusa;

  &:hover {
    background: $tsuyukusa;
    border-color: $tsuyukusa;
    color: white;
  }
}

// 超链接 hover 颜色
a:hover {
  border-bottom-color: $tsuyukusa;
  color: $tsuyukusa;
}

// 文章页面里，所有标题的颜色
.post-body {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $tsuyukusa;
  }
}




// // 给代码块增加滚动惯性
// figure
//   -webkit-overflow-scrolling: touch

// // 修改加粗样式，改为不加粗变蓝色
// strong
//   color: $blue
//   font-weight: normal;

// // 修改返回顶部按钮位置
// .back-to-top
//   right: 105px
//   z-index: 998

//   &.back-to-top-on
//     bottom: 72px




// // 修正不同屏幕宽度预览时，底部上边距不统一的问题
// .main
//   padding-bottom: 124px!important


// // 修改首页的文章标题、发布时间一行的颜色
// // 首页、文章页，缩小正文到发布时间一行的距离
// // 加宽发布时间一行，以免移动端出现折行
// // 阅读全文文字颜色
// .posts-expand
//   & .post-meta
//       margin-left: -15px
//       margin-right: -15px
//       margin-bottom: 20px
//       color: $grey-dim

//   & .post-title
//       color: $blue

//   & .post-title-link
//       color: $blue
//       &::before
//         background-color: $blue

//   & .post-button .btn
//       color: $blue

//   // 修改文章内超链接指上时的颜色
//   a:hover
//     color: $blue
//     border-bottom-color: $blue

