// CSS variables, created by xiaweiss

// Colors
// From http://nipponcolors.com/
$ruri = #005CAF //197琉璃
$tsuyukusa = #2EA9DF // 193露草

// $sora = #58B2DC // 186空
// $wasurenagusa = #7DB9DE // 191勿忘草
// $gunjyo = #51A8DD // 192群青
// $haizakura = #D7C4BB //026灰樱

// $blue = $tsuyukusa

// // Header
// // 修改二级标题颜色
// $subtitle-color = white


// // Sidebar
// // 修改边栏文字高亮时的颜色
// $sidebar-nav-hover-color          = $blue
// $sidebar-highlight                = $blue

// $toc-link-active-color                = $sidebar-highlight
// $toc-link-active-border-color         = $sidebar-highlight
// $toc-link-active-current-color        = $sidebar-highlight
// $toc-link-active-current-border-color = $sidebar-highlight

// // Button
// // 修改查看更多按钮颜色
// $read-more-color                = $blue
// $btn-default-border-color       = $blue
// $btn-default-hover-border-color = $blue
// $btn-default-hover-bg           = $blue

// // Footer
// // 修改底部文字颜色（自己新增的变量）
// // $footer-color = #eee
// $footer-color = #fff